# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Power BI
# =========================
*.pbix

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Raw Datasets (Do NOT upload)
# =========================
data/olist_customers_dataset.csv
data/olist_orders_dataset.csv
data/olist_order_items_dataset.csv
data/olist_order_payments_dataset.csv
data/olist_order_reviews_dataset.csv
data/olist_products_dataset.csv
data/olist_sellers_dataset.csv
data/olist_geolocation_dataset.csv
data/product_category_name_translation.csv

# =========================
# Generated Power BI Dataset
# =========================
data/powerbi/

# =========================
# Optional Large Intermediate Files
# Uncomment if you don't want them in GitHub
# =========================
# data/analytics/churn_dataset.csv